<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registrar Lançamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <!--<ion-item>
      <ion-label position="stacked">Data e Hora</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="lancamento.dataHora"></ion-datetime>
    </ion-item>-->

    <ion-item>
      <!--<ion-label position="stacked">Data e Hora</ion-label>-->
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" [(ngModel)]="lancamento.dataHora"
        required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input placeholder="$0.00" type="number" [(ngModel)]="lancamento.valor" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="lancamento.descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Centro de Custo</ion-label>
      <ion-select [(ngModel)]="lancamento.idCCusto" required>
        <ion-select-option *ngFor="let cc of infoCCusto; let i = index"
          [value]="infoCCusto[i]['id']">{{infoCCusto[i]['descriCCusto']}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select [(ngModel)]="lancamento.status" required>
        <ion-select-option value="A Pagar">A Pagar</ion-select-option>
        <ion-select-option value="A Receber">A Receber</ion-select-option>
        <ion-select-option value="Pago">Pago</ion-select-option>
        <ion-select-option value="Recebido">Recebido</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-card>

  <ion-button style="margin-left: 3%; text-transform: none;" color="medium" routerLink="/tabs/tab1">
    Cancelar
  </ion-button>

  <ion-button style="float: right; margin-right: 3%; text-transform: none;" color="success" (click)="salvarInclusao()">
    Registrar
  </ion-button>


  <!--
  <ion-card *ngIf="lancamento.id">
    <ion-card-header color="success" class="ion-text-center">
      DADOS CADASTRADOS
    </ion-card-header>
    <ion-item>
      <ion-label>ID: {{lancamento.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Data: {{lancamento.data}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hora: {{lancamento.hora | date: 'HH:mm'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Valor: {{lancamento.valorLan}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descrição: {{lancamento.descriLan}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status: {{lancamento.status}}</ion-label>
    </ion-item>
  </ion-card>
  -->

</ion-content>